<div class="center hero-unit">
  <h3>Welcome to online chat demonstration project.</h3>
  <h4>Created by <%= link_to 'Andrushco Nicolay','https://ua.linkedin.com/pub/николай-андрушко/100/152/6b7' %></h4>
  <br>
  <br>
  <%= image_tag 'smiled_wooman.jpg' %>
</div>