<footer class="footer">
  <small>
    Chat created by <%= link_to 'Andrushco Nicolay','https://ua.linkedin.com/pub/николай-андрушко/100/152/6b7' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>